<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="defaultImpl" class="com.hllog.dao.UserDaoImpl"/>
    <bean id="mysqlImpl" class="com.hllog.dao.UserDaoMysqlImpl"/>
    <bean id="oracleImpl" class="com.hllog.dao.UserDaoMysqlImpl"/>

    <bean id="userServiceImpl" class="com.hllog.service.UserServiceImpl">
        <property name="userDao" ref="mysqlImpl"/>
    </bean>

</beans>