<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- 自动将数据库中的下划线列名转换成pojo实体类的驼峰命名 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.hllog.pojo"/>
    </typeAliases>

    <mappers>
        <mapper resource="com/hllog/mapper/BooksMapper.xml"/>
    </mappers>
</configuration>