<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hllog.mapper.TeacherMapper">

    <select id="getTeacher" resultType="teacher">
        select * from teacher
    </select>

    <!-- 按照结果嵌套查询 联表查询 -->
    <select id="getTeacher2" resultMap="TeacherStudent" parameterType="int">
        select s.id sid, s.name sname, t.name tname, t.id tid
        from student s, teacher t
        where s.tid = t.id and t.id=#{tid}
    </select>

    <resultMap id="TeacherStudent" type="teacher">
        <result property="id" column="tid"/>
        <result property="name" column="tname"/>
        <!-- collection用于集合 注意使用的是ofType -->
        <collection property="studentList" ofType="student">
            <result property="id" column="sid"/>
            <result property="name" column="sname"/>
            <result property="tid" column="tid"/>
        </collection>
    </resultMap>

    <!-- 根据查询嵌套查询 子查询 -->
    <select id="getTeacher3" resultMap="TeacherStudent2">
        select * from teacher where id=#{tid}
    </select>

    <resultMap id="TeacherStudent2" type="teacher">
        <!--
        javaType:实体类中字段的类型
        ofType:指定映射到集合中的pojo类型
        -->
        <collection property="studentList" javaType="ArrayList" ofType="student" select="getStudentByTeacherId" column="id"/>
    </resultMap>

    <select id="getStudentByTeacherId" resultType="student">
        select * from student where tid=#{tid}
    </select>

</mapper>